## 4.6: Combining & Exporting Data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# reuseable data path
file_location = r'C:\Users\natta\Downloads\Achievement 4 project'

In [3]:
# Data frame creating for orders_csv

df_ords = pd.read_csv(os.path.join(file_location, '02 Data', 'prepared data' , 'orders_wrangled.csv'), index_col = False)

In [4]:
# Data frame creating for df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(file_location, '02 Data', 'original data', 'order_products__prior.csv'), index_col = False)

In [11]:
# cheak output of 'order_products__prior'

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
# cheak shape of 'order_products__prior'

df_ords_prior.shape

(32434489, 4)

In [13]:
# merge data as df_merged_large with common data column 'order id'   ( Task 1)

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [16]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [18]:
# Cheaking merge
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
#Drop _merge

df_merged_large = df_merged_large.drop(columns = ['_merge'])

In [23]:
# Export data as .pkl ( task 2)

df_merged_large.to_pickle(os.path.join(file_location, '02 Data','prepared data', 'orders_products_combined.pkl'))

In [24]:
 # export data as .csv
    
df_merged_large.to_csv(os.path.join(file_location, '02 Data', 'prepared data', 'orders_products_combined.csv'))

 ## Merging df_merged_large.plk and product cleaned.csv

In [27]:
# importing df_merged_large data frame as df_orders_products

df_orders_products = pd.read_pickle(os.path.join(file_location, '02 Data', 'prepared data' , 'orders_products_combined.pkl'))

In [28]:
# importing product_cleaned as df_products

df_products = pd.read_csv(os.path.join(file_location, '02 Data', 'prepared data' , 'product_cleaned.csv'), index_col = False)

In [35]:
print (df_products.columns)

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [36]:
print(df_orders_products.columns)

Index(['Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered'],
      dtype='object')

In [37]:
# Merging df_products and df_orders_products with common columns 'product_id'

df_orders_products_merged = df_orders_products.merge(df_products, on = 'product_id', indicator = True)

In [38]:
df_orders_products_merged

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,3360493,1320836,202557,17,2,15,1.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,both
32404855,3360494,31526,202557,18,5,11,3.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,both
32404856,3376038,758936,203436,1,2,7,NaN,42338,4,0,42342,"Zucchini Chips, Pesto",50,19,6.9,both
32404857,3376039,2745165,203436,2,3,5,15.0,42338,16,1,42342,"Zucchini Chips, Pesto",50,19,6.9,both
32404858,3408036,3093936,205420,1,4,14,NaN,28818,8,0,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

In [39]:
# Merge cheack ( frequency check)

df_orders_products_merged ['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [40]:
df_orders_products_merged.shape

(32404859, 16)

## Exporting   data frame as orders_products_merged

In [42]:
df_orders_products_merged.to_pickle(os.path.join(file_location, '02 Data','prepared data', 'orders_products_merged.pkl'))